<div class="card border-light" style="width: 100%; height: 100%;">
  <img src="https://img.freepik.com/premium-vector/budget-financial-analyst-managing-planning-spending-money-checklist-clipboard-calculator-calendar-background-vector-illustration_2175-1883.jpg?w=2000" class="card-img-top" alt="...">
  <div class="card-body d-flex justify-content-center flex-column">
    <h5 class="card-title mt-3 ms-5 fw-semibold">WELCOME TO YOUR BUDGET APP</h5>
    <p class="card-text mt-3">Are you a new User?</p>
   <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary mt-3" %> 
    <p class="card-text mt-3">Do You Have An Account?</p>
   <%= link_to 'Log In', user_session_path, class: "btn btn-primary mt-4" %> 
  </div>
</div>